@import url(style2.css);
.book-table {
    border: rgb(0, 0, 0) 5px solid;
}

.book-table th,
.book-table td {
    border: 3px solid rgb(76, 122, 48);
    padding: 3px 8px;
    text-align: center;
}

#text-menu {
    text-align: left;
    color: blue;
    font-size: 25px; 
    text-align: center;
}
